<div id="done">
  <div class="section">
    <h1>Finished!</h1>
    <div>
      <p>The LiveSplit overlay is now ready to use. Check out these resources to get you started:</p>
      <ls-button>
        <fa-icon icon="question-circle"></fa-icon>FAQ
      </ls-button>
      <ls-button>
        <fa-icon icon="graduation-cap"></fa-icon>Tutorial
      </ls-button>
      <ls-button>
        <fa-icon icon="code"></fa-icon>GitHub
      </ls-button>
      <ls-button>Close</ls-button>
    </div>
    <a id="homeNext" onclick="showPage(1);">Let's get started</a>
  </div>
</div>