<h1>Finished!</h1>
<div>
  <p>The LiveSplit overlay is now ready to use.</p>
  <p>Check out these resources to get you started:</p>
</div>
<div>
  <ls-button href="http://livesplit.org/">
    <fa-icon icon="globe"></fa-icon>
    <p>LiveSplit Website</p>
  </ls-button>
  <ls-button href="http://livesplit.org/introduction/">
    <fa-icon icon="graduation-cap"></fa-icon>
    <p>
      LiveSplit Tutorial
    </p>
  </ls-button>
  <ls-button>
    <fa-icon icon="question-circle"></fa-icon>
    <p>FAQ</p>
  </ls-button>
  <ls-button href="https://github.com/Xenira/LiveSplit-Overlay" target="default">
    <fa-icon icon="code"></fa-icon>
    <p>GitHub</p>
  </ls-button>
</div>
<ls-button (click)="close()">Close</ls-button>