<div id="container">
  <div id="content" (mousedown)="dragMove()">
    <div id="layouts" *ngIf="connected">
      <div *ngFor="let element of layout" [ngSwitch]="element" [class.flex]="element==='splits'">
        <ls-splits *ngSwitchCase="'splits'"></ls-splits>
        <ls-timer *ngSwitchCase="'timer'"></ls-timer>
        <ls-title *ngSwitchCase="'title'"></ls-title>
      </div>
    </div>
    <div id="not-connected" *ngIf="!connected">
      <fa-icon *ngIf="!connecting" icon="exclamation" [style.font-size]="'16vw'"></fa-icon>
      <div>
        <p *ngIf="connecting">Connecting to LiveSplit</p>
        <p *ngIf="!connecting">Could not connect to LiveSplit</p>
        <ls-button *ngIf="!connecting" (click)="connect()">Retry</ls-button>
        <ls-button *ngIf="connecting"><img class="spinner" src="../assets/sync-solid.svg"></ls-button>
      </div>
      <div>
        <ls-button *ngIf="!connecting" (click)="startLiveSplit()" small="true">Start LiveSplit</ls-button>
        <ls-button *ngIf="!connecting" (click)="openHelp()" small="true">Get Help</ls-button>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div id="resize" (mousedown)="dragResize($event)"></div>
</div>