<div *ngFor="let split of splits; let i = index" [style.background-color]="getSplitBackground(i) | rgbaHex">
  <div id="container">
    <span id="name">{{split.name}}</span>
    <span *ngIf="i < currentSplit" class="split-time" [style.color]="timer.getSplitColor(i) | rgbaHex">{{diff(split) |
      timer:true}}</span>
    <span *ngIf="i == currentSplit" class="split-time">{{splitDiff() | timer:true}}</span>
    <span class="split-time">{{time(split) | timer:false:true:0}}</span>
  </div>
  <div class="hr" [style.background-color]="layout.colors.seperator | rgbaHex"></div>
</div>